.inline {
    display: inline-block;
}
.inlineH {
    display: inline-block;
    width:60%;
}
.inlineL {
    display: inline-block;
    width: 40%;
}
#editstatus{
    color:#91ea4d;
}
.height {
    height: 212px;
    overflow: auto;
}
#Eguaraenteeheader, #Nguaraenteeheader, #guaraenteeheader {
    background-color: #8d8b89;
}

#Ccardbody,#Ecardbody, #Ncardbody, #gcardbody {
    background-color: #cccaca;
}
#Ncardbody > li {
   margin-bottom:2%;
 }
#Ecardbody > li {
        margin-bottom: 2%;
    }
    #gcardbody > li {
        margin-bottom: 2%;
    }
    .fa-coins {
        color: #f0ff3d;
    }

.fa-calendar-alt {
    color: #5abcfe;
}

.fa-briefcase {
    color: #c38f34;
}

.fa-chart-bar {
    color: #83f755;
}

.fa-user {
    color: #475ac7;
}

.fa-file-alt {
    color: #cc6f6f;
}



.fa-users {
    color: #e3803a;
}
#Eessence {
    overflow: auto;
}
#Eabout {
    overflow: auto;
}